---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app radarr
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.3.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      # repository: lscr.io/linuxserver/radarr
      # tag: latest
      repository: ghcr.io/onedr0p/radarr
      tag: 4.3.2.6857

    env:
      TZ: "${TZ}"

    service:
      main:
        ports:
          http:
            port: 7878

    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          # nginx.ingress.kubernetes.io/configuration-snippet: |
          #   proxy_set_header Accept-Encoding "";
          #   sub_filter '</head>' '<link rel="stylesheet" type="text/css" href="https://theme-park.devbu.io/css/base/radarr/nord.css"></head>';
          #   sub_filter_once on;
          nginx.ingress.kubernetes.io/whitelist-source-range: |
            10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
          # hajimari.io/enable: "true"
          hajimari.io/icon: mdi:filmstrip
          hajimari.io/targetBlank: "true"
        hosts:
          - host: &host "radarr.${SECRET_INTERNAL_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        # tls:
        #   - hosts:
        #       - *host

    persistence:
      config:
        enabled: true
        existingClaim: radarr-config-v1

    # resources:
    #   requests:
    #     cpu: 10m
    #     memory: 250Mi
